__pycache__/
.pytest_cache/
.vscode/
.ipynb_checkpoints/
tests/output
/validations/sq_metrics/roughness_danielweber/roughness_implementations_comparison.png
/validations/sq_metrics/loudness_zwst/output/validation_loudness_zwicker_time_Test_signal_25_(full_can_rattle)_Loudness.png
/validations/sq_metrics/loudness_zwst/output/FAILED_validation_loudness_zwicker_time_Test_signal_16_(hairdryer)_Loudness.png
/validations/sq_metrics/loudness_zwst/output/validation_loudness_zwicker_stationary_Test_signal_1.png
/validations/sq_metrics/loudness_zwst/output/validation_loudness_zwicker_stationary_Test_signal_2_(250_Hz_80_dB).png
/validations/sq_metrics/loudness_zwst/output/validation_loudness_zwicker_stationary_Test_signal_3_(1_kHz_60_dB).png
/validations/sq_metrics/loudness_zwst/output/validation_loudness_zwicker_stationary_Test_signal_4_(4_kHz_40_dB).png
/validations/sq_metrics/loudness_zwst/output/validation_loudness_zwicker_stationary_Test_signal_5_(pinknoise_60_dB).png
/validations/sq_metrics/loudness_zwst/output/validation_loudness_zwicker_time_Test_signal_6_(tone_250_Hz_30_dB_-_80_dB)_Loudness.png
/validations/sq_metrics/loudness_zwst/output/validation_loudness_zwicker_time_Test_signal_6_(tone_250_Hz_30_dB_-_80_dB)_Specific.png
/validations/sq_metrics/loudness_zwst/output/validation_loudness_zwicker_time_Test_signal_7_(tone_1_kHz_30_dB_-_80_dB)_Loudness.png
/validations/sq_metrics/loudness_zwst/output/validation_loudness_zwicker_time_Test_signal_7_(tone_1_kHz_30_dB_-_80_dB)_Specific.png
/validations/sq_metrics/loudness_zwst/output/validation_loudness_zwicker_time_Test_signal_8_(tone_4_kHz_30_dB_-_80_dB)_Loudness.png
/validations/sq_metrics/loudness_zwst/output/validation_loudness_zwicker_time_Test_signal_8_(tone_4_kHz_30_dB_-_80_dB)_Specific.png
/validations/sq_metrics/loudness_zwst/output/validation_loudness_zwicker_time_Test_signal_9_(pink_noise_0_dB_-_50_dB)_Loudness.png
/validations/sq_metrics/loudness_zwst/output/validation_loudness_zwicker_time_Test_signal_9_(pink_noise_0_dB_-_50_dB)_Specific.png
/validations/sq_metrics/loudness_zwst/output/validation_loudness_zwicker_time_Test_signal_10_(tone_pulse_1_kHz_10_ms_70_dB)_Loudness.png
/validations/sq_metrics/loudness_zwst/output/validation_loudness_zwicker_time_Test_signal_10_(tone_pulse_1_kHz_10_ms_70_dB)_Specific.png
/validations/sq_metrics/loudness_zwst/output/validation_loudness_zwicker_time_Test_signal_11_(tone_pulse_1_kHz_50_ms_70_dB)_Loudness.png
/validations/sq_metrics/loudness_zwst/output/validation_loudness_zwicker_time_Test_signal_11_(tone_pulse_1_kHz_50_ms_70_dB)_Specific.png
/validations/sq_metrics/loudness_zwst/output/validation_loudness_zwicker_time_Test_signal_12_(tone_pulse_1_kHz_500_ms_70_dB)_Loudness.png
/validations/sq_metrics/loudness_zwst/output/validation_loudness_zwicker_time_Test_signal_12_(tone_pulse_1_kHz_500_ms_70_dB)_Specific.png
/validations/sq_metrics/loudness_zwst/output/validation_loudness_zwicker_time_Test_signal_13_(combined_tone_pulses_1_kHz)_Loudness.png
/validations/sq_metrics/loudness_zwst/output/validation_loudness_zwicker_time_Test_signal_13_(combined_tone_pulses_1_kHz)_Specific.png
/validations/sq_metrics/loudness_zwst/output/validation_loudness_zwicker_time_Test_signal_14_(propeller-driven_airplane)_Loudness.png
/validations/sq_metrics/loudness_zwst/output/validation_loudness_zwicker_time_Test_signal_15_(vehicle_interior_40_kmh)_Loudness.png
/validations/sq_metrics/loudness_zwst/output/validation_loudness_zwicker_time_Test_signal_17_(machine_gun)_Loudness.png
/validations/sq_metrics/loudness_zwst/output/validation_loudness_zwicker_time_Test_signal_18_(hammer)_Loudness.png
/validations/sq_metrics/loudness_zwst/output/validation_loudness_zwicker_time_Test_signal_19_(door_creak)_Loudness.png
/validations/sq_metrics/loudness_zwst/output/validation_loudness_zwicker_time_Test_signal_20_(shaking_coins)_Loudness.png
/validations/sq_metrics/loudness_zwst/output/validation_loudness_zwicker_time_Test_signal_21_(jackhammer)_Loudness.png
/validations/sq_metrics/loudness_zwst/output/validation_loudness_zwicker_time_Test_signal_22_(ratchet_wheel_(large))_Loudness.png
/validations/sq_metrics/loudness_zwst/output/validation_loudness_zwicker_time_Test_signal_23_(typewriter)_Loudness.png
/validations/sq_metrics/loudness_zwst/output/validation_loudness_zwicker_time_Test_signal_24_(woodpecker)_Loudness.png
